.movie-detail__tabs {
  padding: $p-10 * 5 $p-10 * 20;
  position: relative;
  z-index: 9;
  .tabs__wrapper {
    width: $w-100;
    .wrapper__title {
      display: flex;
      justify-content: center;
      padding: $p-10 * 2 0;
      .title__item {
        margin: 0 $m-10 * 2;
        .fa-solid {
          display: none;
          @include respond(phone) {
            display: block;
          }
        }
        span {
          @include respond(phone) {
            display: none;
          }
        }
        @include respond(phone) {
          margin: 0 $m-10;
        }
      }
      .title__item--active {
        &::after {
          width: $w-100;
        }
      }
    }
    .wrapper__content {
      width: $w-100;
      .content__item {
        display: none;
        .item__showtimes {
          padding: $p-10 * 2;
          display: flex;
          flex-direction: row;
          .showtimes__tabs {
            width: $w-100 - 80;
            margin-right: $m-10;
            .tabs__logo {
              min-width: $w-100;
              padding: $p-10;
              border-radius: $lightRound;
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 0.5;
              overflow: hidden;
              transition: all 0.5s ease;
              cursor: pointer;
              .logo__image {
                width: $w-10 * 5;
                height: $h-10 * 5;
              }
              @include respond(tablet) {
                min-width: $w-100 / 3;
                margin-bottom: $m-10;
              }
            }
            .tabs__logo--active {
              opacity: 1;
              background: $secondary;
            }
            @include respond(tablet) {
              width: $w-100;
              margin-bottom: $m-10;
              display: flex;
              align-items: center;
              overflow-x: auto;
            }
          }
          .showtimes__content {
            width: $w-100 - 20;
            .content__date {
              min-width: $w-100;
              overflow-x: auto;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .date__title {
                min-width: $w-10 * 15;
                padding: $p-10;
                margin-bottom: $m-10;
                border-left: 1px solid $borderGrey;
                border-right: 1px solid $borderGrey;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0.5;
                transition: all 0.5s ease;
                cursor: pointer;
                p {
                  &:nth-child(1) {
                    margin-bottom: $m-10;
                    font-weight: $semiBold;
                  }
                  &:nth-child(2) {
                    font-size: $body-1;
                  }
                }
              }
              .date__title--active {
                opacity: 1;
                background: $blue-1;
                color: $tSecondary;
              }
            }
            .content__inner {
              width: $w-100;
              height: $h-10 * 40;
              overflow: auto;
              .inner__cinema {
                display: none;
                .cinema__item {
                  padding: $p-10;
                  border-bottom: 1px solid $borderGrey;
                  .item__info {
                    display: flex;
                    .info__image {
                      width: $w-10 * 5;
                      height: $h-10 * 5;
                      margin-right: $m-10;
                      border-radius: $lightRound;
                      object-fit: cover;
                      object-position: center;
                    }
                    .info__content {
                      p {
                        &:nth-child(1) {
                          font-weight: $semiBold;
                          margin-bottom: $m-10;
                        }
                        &:nth-child(2) {
                          font-size: $body-1;
                        }
                      }
                    }
                  }
                  .item__theater {
                    .theater__item {
                      width: $w-100;
                      margin: $m-10 0;
                      .item__name {
                        width: $w-100;
                        padding: $p-5 $p-10;
                        font-size: $body-1;
                        border-radius: $round;
                        background: $secondary;
                        color: $tSecondary;
                      }
                      .item__schedule {
                        padding: $p-10 0;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;
                        .schedule__link {
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          font-size: $body-2;
                        }
                        @include respond(tablet) {
                          grid-template-columns: 1fr 1fr 1fr;
                        }
                        @include respond(phone) {
                          grid-template-columns: 1fr 1fr;
                        }
                      }
                    }
                  }
                }
              }
              .inner__nodata {
                width: $w-100;
                height: $h-100;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $subtitle;
                font-weight: $semiBold;
                opacity: 0.5;
              }
              .inner__cinema--active {
                display: block;
                animation: fadeIn 1s ease-out 1;
              }
            }
            @include respond(tablet) {
              width: $w-100;
            }
          }
          @include respond(tablet) {
            flex-direction: column;
          }
        }
        .item__detail {
          padding: $p-10 * 2;
          font-size: $body-1;
          color: $tSecondary;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .detail__info {
            width: $w-100 / 2.1;
            .info__item {
              width: $w-100;
              padding-bottom: $p-10 * 2;
              display: flex;
              justify-content: space-between;
              p {
                width: $w-100 / 2.1;
              }
            }
            @include respond(tablet) {
              width: $w-100;
              margin-bottom: $m-10 * 2;
            }
          }
          .detail__content {
            width: $w-100 / 2.1;
            p {
              text-align: justify;
              &:nth-child(1) {
                margin-bottom: $m-10;
              }
              &:nth-child(2) {
                line-height: $h-10 * 2;
              }
            }
            @include respond(tablet) {
              width: $w-100;
            }
          }
          @include respond(phone) {
            padding: $p-10 * 2 $p-10;
          }
        }
      }
      .content__item--active {
        display: block;
        animation: fadeIn 1s ease-out 1;
      }
    }
  }
  @include respond(laptop) {
    padding: $p-10 * 5 $p-10 * 2;
  }
  @include respond(phone) {
    padding: $p-10 * 5 $p-10;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
