.product-list {
  padding: $p-10 * 5;
  .product-list__title {
    padding: $p-10 $p-10 * 2;
    font-size: $h5;
    color: $tSecondary;
    border-top-left-radius: $round;
    border-bottom-left-radius: $round;
    background: $secondary;
    @include respond(phone) {
      font-size: $h6;
    }
  }
  .product-list__search {
    width: $w-100;
    padding-left: $p-10 * 2;
    display: flex;
    justify-content: flex-start;
    .search__input {
      width: $w-100 - 70;
    }
  }
  .product-list__wrapper {
    width: $w-100;
    margin: 0 auto;
    padding-top: $p-10 * 2 ;
    padding-bottom: $p-10 * 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .wrapper__inner {
      width: $w-100 - 5%;
      padding-left: $w-100 - 98;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .inner__link {
        display: block;
        width: $w-100 / 3.3;
        height: auto;
        margin: $m-10;
        text-decoration: none;
        color: $tPrimary;
        .link__card {
          width: $w-100;
          padding: $p-10;
          position: relative;
          z-index: 1;
          transition: all 0.5s ease;
          &:hover {
            color: $tSecondary;
          }
          &:hover .card__image img {
            transform: scale(1.2, 1.2);
          }
          &:hover::after {
            height: $h-100;
          }
          &::after {
            content: "";
            width: $w-100;
            height: 0;
            background: $secondary;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.5s ease;
          }
          .card__image {
            width: $w-100;
            height: $h-10 * 25;
            border-radius: $lightRound;
            overflow: hidden;
            .img {
              transform: scale(1, 1);
              transition: all 0.5s ease;
            }
          }
          .card__content {
            width: $w-100;
            margin: $m-10 * 2 0;
            font-weight: $medium;
            .content__name {
              font-size: $subtitle;
              margin-bottom: $m-10;
              @include respond(extraTablet) {
                font-size: $body-1;
              }
              @include respond(smallPhone) {
                font-size: $subtitle;
              }
            }
            .content__price {
              font-size: $body-1;
              color: $tRed;
            }
          }
          .card__features {
            width: $w-100;
            .features__rate {
              font-size: $body-1;
              color: $tYellow;
              padding-bottom: $p-10 * 2;
            }
            .features__specs {
              width: $w-100;
              border-top: 1px solid $borderGrey;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;
              .specs__item {
                width: $w-100 / 2;
                display: flex;
                align-items: center;
                padding: $p-10;
                .item__icon {
                  width: $w-10 * 3;
                  height: $h-10 * 3;
                  margin-right: $m-10;
                }
                .item__content {
                  font-size: $body-2;
                }
              }
            }
          }
        }
        @include respond(laptop) {
          width: $w-100 / 4.2;
        }
        @include respond(extraTablet) {
          width: $w-100 / 3.4;
        }
        @include respond(tablet) {
          width: $w-100 / 2.2;
        }
        @include respond(phone) {
          width: $w-100 / 2.1;
        }
        @include respond(smallPhone) {
          width: $w-100;
        }
      }
      @include respond(extraTablet) {
        padding-left: $w-100 - 98;
        width: $w-100;
      }
      @include respond(smallPhone) {
        padding: 0;
      }
    }
  }
  @include respond(laptop) {
    padding: $p-10 * 5 $p-10 * 2;
  }
}
