.product-carts {
  padding: $p-10 * 5;
  .product-carts__title {
    padding: $p-10;
    font-size: $h5;
    text-align: center;
  }
  .product-carts__card {
    padding: $p-10 * 2;
    .card__features {
      width: $w-100;
      padding: $p-10 0;
      display: flex;
      justify-content: flex-end;
      .features__select {
        width: $w-100 - 75;
        margin: 0 $m-10;
        .select__field {
          margin: 0;
        }
        @include respond(extraTablet) {
          width: $w-100 - 65;
        }
        @include respond(tablet) {
          width: $w-100 - 30;
        }
        @include respond(phone) {
          width: $w-100;
          margin-bottom: $m-10;
        }
      }
      .features__button {
        display: flex;
        justify-content: space-between;
        .button--submit,
        .button--disabled {
          &:nth-child(1) {
            margin-right: $m-10;
          }
          @include respond(phone) {
            width: $w-100 - 45 !important;
            display: flex;
            justify-content: center;
          }
        }
        .button--disabled {
          margin: 0;
        }
        @include respond(phone) {
          width: $w-100 !important;
        }
      }
      @include respond(phone) {
        flex-direction: column;
        align-items: center;
      }
    }
    .card__payment {
      width: $w-100;
      padding: $p-10 * 2 $p-10 * 5;
      display: flex;
      justify-content: space-between;
      .payment__info {
        width: $w-100 - 45;
        margin: 0;
        .info__card {
          padding: $p-10 $p-10 * 3;
          margin-bottom: $m-10 * 2;
          .card__title {
            padding: $p-10 0;
            text-align: center;
            font-size: $subtitle;
            font-weight: $semiBold;
            border-bottom: 1px solid $borderGrey;
          }
          .card__content {
            .content__title {
              padding: $p-10 0;
              font-weight: $semiBold;
              @include respond(phone) {
                font-size: $body-1;
              }
            }
            .content__inner {
              font-size: $body-1;
              .inner__list {
                padding: $p-5 0;
                .list__item {
                  width: $w-100;
                  display: flex;
                  justify-content: space-between;
                  strong {
                    font-weight: $semiBold;
                  }
                }
              }
              @include respond(phone) {
                font-size: $body-2;
              }
            }
          }
          @include respond(phone) {
            padding: $p-10;
          }
        }
        .info__group {
          width: $w-100;
          margin: 0;
          .group__input {
            width: $w-100;
            padding: $p-10 0;
          }
          .group__label {
            font-size: $subtitle;
          }
          @include respond(tablet) {
            width: $w-100;
            margin-bottom: $m-10;
          }
        }
        @include respond(tablet) {
          width: $w-100;
          margin-bottom: $m-10;
        }
      }
      .payment__summary {
        width: $w-100 - 60;
        padding: $p-10;
        .summary__header {
          .header__title {
            width: $w-100;
            font-size: $subtitle;
            font-weight: $semiBold;
            text-align: center;
            padding: $p-10 0;
            border-bottom: 1px solid $borderGrey;
            @include respond(phone) {
              font-size: $default;
            }
          }
        }
        .summary__body {
          .body__list {
            margin-left: $m-10 * 2;
            padding: $p-10;
            .list__item {
              width: $w-100;
              padding: $p-5;
              list-style-type: disc;
              .item__inner {
                display: flex;
                justify-content: space-between;
                strong {
                  font-weight: $semiBold;
                }
              }
            }
            &:last-child {
              .list__item {
                list-style: none;
              }
            }
            @include respond(phone) {
              margin-left: $m-10;
              padding: $p-5;
            }
          }
          .body__line {
            width: $w-100;
            height: 1px;
            margin: $m-10 0;
            background: $grey;
          }
          @include respond(phone) {
            font-size: $body-1;
          }
        }
        @include respond(tablet) {
          width: $w-100;
        }
      }
      @include respond(extraTablet) {
        padding: $p-10;
      }
      @include respond(tablet) {
        padding: $p-10;
        flex-direction: column;
      }
    }
    .card__pagination {
      border-top: 0;
    }
    @include respond(extraTablet) {
      padding: $p-10;
      overflow: hidden;
    }
  }
  .product-carts__shipment-modal {
    .shipment-modal__header {
      font-size: $subtitle;
      font-weight: $semiBold;
    }
    .shipment-modal__body {
      .body__group {
        .group__title {
          margin-bottom: $m-10 * 2;
          font-size: $subtitle;
          font-weight: $semiBold;
        }
        .group__wrapper {
          margin: $m-10 0;
        }
        .group__label {
          background: $secondary;
          color: $tSecondary;
        }
        .group__input {
          color: $tSecondary;
          &::placeholder {
            color: $tSecondary;
            opacity: 0.5;
          }
        }
        .group__icon {
          color: $tSecondary;
        }
      }
      .body__line {
        width: $w-100;
        height: 1px;
        background-color: $primary;
        margin: $m-10 * 2 0;
      }
    }
    .shipment-modal__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footer__note {
        width: $w-100 - 15;
        margin-left: $m-10 * 2;
        line-height: $h-10 * 2;
        font-size: $body-1;
        font-style: italic;
        color: $tSecondary;
        @include respond(phone) {
          margin: $m-10 0;
        }
      }
      @include respond(phone) {
        flex-direction: column;
      }
    }
  }
  .table__nodata {
    .button--submit {
      margin: $m-10 0;
      padding: $p-10;
      font-size: $subtitle;
    }
  }
  @include respond(extraTablet) {
    padding: $p-10 * 2;
  }
}
