.product-carts {
  padding: $p-10 * 5;
  .carts__card {
    padding: $p-10 * 2;
    .card__payment {
      width: $w-100;
      padding: $p-10 * 2 $p-10 * 5;
      .payment__form {
        width: $w-100;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .form__note {
          width: $w-100 - 35;
          .note__input {
            width: $w-100;
          }
        }
        .form__payment {
          width: $w-100 - 70;
          padding: $p-10;
          .payment__title {
            font-size: $subtitle;
            font-weight: $semiBold;
            text-align: center;
            padding-bottom: $p-10;
          }
          .payment__radio {
            display: flex;
            align-items: center;
            .radio__icon {
              width: $w-10 * 4;
              height: $h-10 * 4;
              object-fit: cover;
              margin: 0 $m-5;
            }
          }
          .payment__button {
            width: $w-100;
            padding-top: $p-10;
            border-top: 1px solid $borderGrey;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
  .table__nodata {
    .button--submit {
      margin: $m-10 0;
      padding: $p-10;
      font-size: $subtitle;
    }
  }
}
