.product-detail {
  padding: $p-10 * 5;
  .product-detail__title {
    width: $w-100;
    margin-bottom: $m-10;
    padding: $p-10;
    background: $secondary;
    color: $tSecondary;
    font-size: $h5;
    font-weight: $medium;
  }
  .product-detail__content {
    display: flex;
    justify-content: space-between;
    padding: $p-10 * 5 0;
    .content__slider {
      width: $w-100 - 70;
      height: $h-10 * 35;
      padding: $p-10;
      border: 1px solid $borderGrey;
      border-radius: $lightRound;
      .slider__wrapper {
        width: $w-100;
        height: $h-100;
        background: $primary;
        border-radius: $lightRound;
        ._2qwzr {
          border-radius: $lightRound;
        }
        ._2c50p {
          ._-LJ2W {
            justify-content: space-between;
            ._-cAh3 {
              min-width: $w-100 / 3.1 !important;
              max-width: $w-100 / 3.1 !important;
              width: $w-100 / 3.1 !important;
              border-radius: $lightRound;
            }
          }
        }
      }
    }
    .content__info {
      width: $w-100 - 75;
      .info__title {
        font-size: $h5;
        font-weight: $medium;
      }
      .info__list {
        margin: $m-10 * 2 0;
        padding-left: $m-10 * 2;
        .list__content {
          list-style-type: disc;
          margin: $m-10 0;
          font-size: $subtitle;
          strong {
            font-weight: $semiBold;
          }
          span {
            color: $tRed;
            font-size: $h6;
          }
        }
      }
      .info__quantily {
        width: $w-100;
        margin: $m-10 * 5 0;
        display: flex;
        align-items: center;
        .quantily__item {
          width: $w-100 / 3.5;
          padding: $p-5;
          text-align: center;
          border: 1px solid $borderGrey;
          border-radius: 0;
          &:nth-child(1),
          &:nth-child(3) {
            width: $w-100 / 6;
            font-size: $subtitle;
            font-weight: $medium;
            margin: 0;
            border: transparent;
          }
        }
      }
      .info__button {
        width: $w-100;
        .button--submit {
          width: $w-100;
          margin: 0;
          padding: $p-10 $p-10 * 2;
          font-size: $subtitle;
          font-weight: $medium;
          justify-content: center;
        }
      }
    }
    .content__related {
      width: $w-100 - 70;
      height: $h-10 * 35;
      padding: 0 $p-10;
      position: relative;
      .related__title {
        width: $w-100;
        background: $primary;
        font-size: $subtitle;
        font-weight: $semiBold;
        padding: $p-10 * 2 0;
        margin-bottom: $m-10;
        border-bottom: 1px solid $borderGrey;
        position: sticky;
        top: 0;
        z-index: 99;
      }
      .related__item {
        width: $w-100;
        overflow: unset;
        padding: $p-10;
        margin: $m-10 0;
        cursor: pointer;
        .item__inner {
          .inner__content {
            display: flex;
            align-items: center;
            .content__img {
              width: $w-10 * 5;
              height: $h-10 * 5;
              margin-right: $m-10;
              border-radius: $lightRound;
            }
            .content__info {
              width: $w-100;
              p {
                &:first-child {
                  margin-bottom: $m-10;
                }
                &:last-child {
                  font-size: $body-1;
                  font-weight: $semiBold;
                }
              }
            }
          }
        }
      }
    }
  }
  .product-detail__tabs {
    .tabs__wrapper {
      width: $w-100;
      .wrapper__title {
        display: flex;
        align-items: flex-end;
        .title__item {
          width: $w-100 - 85;
          padding: $p-10;
          text-align: center;
          border: 1px solid $borderGrey;
          cursor: pointer;
          &:nth-child(1) {
            border-right: 0;
            border-top-left-radius: $lightRound;
          }
          &:nth-child(2) {
            border-left: 0;
            border-top-right-radius: $lightRound;
          }
        }
        .title__item--active {
          height: $h-10 * 4;
          border-bottom: 0;
          &:nth-child(1) {
            border-right: 1px solid $borderGrey;
            border-top-right-radius: $lightRound;
          }
          &:nth-child(2) {
            border-left: 1px solid $borderGrey;
            border-top-left-radius: $lightRound;
          }
        }
        .title__line {
          width: $w-100 - 30;
          height: 1px;
          background: $grey;
        }
      }
      .wrapper__content {
        width: $w-100;
        height: $h-10 * 35;
        border: 1px solid $borderGrey;
        border-top: 0;
        border-bottom-left-radius: $lightRound;
        border-bottom-right-radius: $lightRound;
        position: relative;
        .content__inner {
          width: $w-100;
          height: $h-100;
          padding: $p-10 * 5;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          visibility: hidden;
          overflow: auto;
          transition: all 0.5s ease;
          .inner__specs {
            width: $w-100;
            .specs__table {
              width: $w-100;
              .table__row {
                border-radius: $lightRound;
                .table__col {
                  padding: $p-10 * 2;
                  border: 1px solid $borderGrey;
                  &:first-child {
                    font-weight: $semiBold;
                  }
                }
              }
            }
          }
          .inner__comment {
            width: $w-100;
            position: relative;
            .comment__line {
              width: $w-100;
              height: 2px;
              background: $grey;
              margin: $m-10 0;
              margin-bottom: $m-10 * 3;
            }
            .comment__item {
              margin: $m-10 * 2 0;
              padding: $p-10;
              border: 1px solid $borderGrey;
              border-radius: $lightRound;
              .item__title {
                padding: $p-10 0;
                border-bottom: 1px solid $borderGrey;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title__img {
                  display: flex;
                  align-items: center;
                  img {
                    width: $w-10 * 4;
                    height: $h-10 * 4;
                    margin-right: $m-10;
                  }
                  p {
                    font-size: $body-1;
                    font-weight: $semiBold;
                  }
                }
                .title__icon {
                  display: flex;
                  align-items: center;
                  .fa-solid {
                    font-size: $subtitle;
                    padding: 0 $p-5;
                    opacity: 0.6;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover {
                      opacity: 1;
                    }
                  }
                }
              }
              .item__content {
                padding: $p-10;
                font-size: $body-1;
                text-align: justify;
              }
            }
          }
        }
        .content__inner--active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
