.product-carts {
  padding: $p-10 * 5;
  .product-carts__title {
    padding: $p-10;
    font-size: $h5;
    text-align: center;
  }
  .product-carts__card {
    padding: $p-10 * 2;
    @include respond(extraTablet) {
      padding: $p-10;
    }
  }
  .product-carts__features {
    width: $w-100;
    padding: $p-10 0;
    margin-top: $m-10;
    display: flex;
    justify-content: flex-end;
    .features__select {
      width: $w-100 - 75;
      margin: 0 $m-10;
      .select__field {
        margin: 0;
      }
      @include respond(extraTablet) {
        width: $w-100 - 65;
        margin-left: 0;
      }
      @include respond(tablet) {
        width: $w-100 - 30;
        margin-left: 0;
      }
      @include respond(phone) {
        width: $w-100;
        margin-bottom: $m-10;
      }
    }
    .features__button {
      display: flex;
      justify-content: space-between;
      .button--submit,
      .button--disabled {
        &:nth-child(1) {
          margin-right: $m-10;
        }
        @include respond(phone) {
          width: $w-100 - 45 !important;
          display: flex;
          justify-content: center;
        }
      }
      .button--disabled {
        margin: 0;
      }
      @include respond(phone) {
        width: $w-100 !important;
      }
    }
    @include respond(tablet) {
      justify-content: space-between;
    }
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }
  .product-carts__payment {
    width: $w-100;
    padding: $p-10 * 2 $p-10 * 5;
    display: flex;
    justify-content: space-between;
    .payment__info {
      width: $w-100 - 45;
      margin: 0;
      .info__card {
        padding: $p-10 $p-10 * 3;
        margin-bottom: $m-10 * 2;
        .card__title {
          padding: $p-10 0;
          text-align: center;
          font-size: $subtitle;
          font-weight: $semiBold;
          border-bottom: 1px solid $borderGrey;
        }
        .card__content {
          .content__title {
            padding: $p-10 0;
            font-weight: $semiBold;
            @include respond(phone) {
              font-size: $body-1;
            }
          }
          .content__inner {
            font-size: $body-1;
            .inner__list {
              padding: $p-5 0;
              .list__item {
                width: $w-100;
                display: flex;
                justify-content: space-between;
                strong {
                  font-weight: $semiBold;
                }
              }
            }
            @include respond(phone) {
              font-size: $body-2;
            }
          }
        }
        @include respond(phone) {
          padding: $p-10;
        }
      }
      .info__group {
        width: $w-100;
        margin: 0;
        .group__input {
          width: $w-100;
          padding: $p-10 0;
        }
        .group__label {
          font-size: $subtitle;
        }
        @include respond(tablet) {
          width: $w-100;
          margin-bottom: $m-10;
        }
      }
      @include respond(tablet) {
        width: $w-100;
        margin-bottom: $m-10;
      }
    }
    .payment__summary {
      width: $w-100 - 60;
      padding: $p-10;
      overflow: unset;
      .summary__header {
        .header__title {
          width: $w-100;
          font-size: $subtitle;
          font-weight: $semiBold;
          text-align: center;
          padding: $p-10 0;
          border-bottom: 1px solid $borderGrey;
          @include respond(phone) {
            font-size: $default;
          }
        }
      }
      .summary__body {
        border-bottom: 1px solid $borderGrey;
        .body__list {
          margin-left: $m-10 * 2;
          padding: $p-10;
          .list__item {
            width: $w-100;
            padding: $p-5;
            list-style-type: disc;
            .item__inner {
              display: flex;
              justify-content: space-between;
              strong {
                font-weight: $semiBold;
              }
            }
          }
          &:last-child {
            .list__item {
              list-style: none;
            }
          }
          @include respond(phone) {
            font-size: $body-2;
            margin-left: $m-10;
            padding: $p-5;
          }
        }
        .body__line {
          width: $w-100;
          height: 1px;
          margin: $m-10 0;
          background: $grey;
        }
        @include respond(phone) {
          font-size: $body-1;
        }
      }
      .summary__footer {
        padding: $p-10 0;
        .footer__select {
          margin: $m-10 0;
        }
        .footer__label {
          font-weight: $semiBold;
        }
      }
      @include respond(tablet) {
        width: $w-100;
      }
    }
    @include respond(extraTablet) {
      padding: $p-10;
    }
    @include respond(tablet) {
      padding: $p-10 0;
      flex-direction: column;
    }
  }
  .product-carts__shipment-modal {
    .shipment-modal__header {
      font-size: $subtitle;
      font-weight: $semiBold;
    }
    .shipment-modal__body {
      .body__group {
        .group__title {
          margin-bottom: $m-10 * 2;
          font-size: $subtitle;
          font-weight: $semiBold;
          @include respond(phone) {
            font-size: $default;
          }
        }
        .group__wrapper {
          margin: $m-10 0;
        }
        .group__label {
          background: $secondary;
          color: $tSecondary;
        }
        .group__input {
          color: $tSecondary;
          &::placeholder {
            color: $tSecondary;
            opacity: 0.5;
          }
        }
        .group__icon {
          color: $tSecondary;
        }
        .group__select {
          background: $secondary;
          color: $tSecondary;
        }
        .group__options {
          background: $secondary;
          color: $tSecondary;
          .options__item {
            &:hover {
              background: $primary;
              color: $tPrimary;
            }
          }
        }
      }
      .body__line {
        width: $w-100;
        height: 1px;
        background-color: $primary;
        margin: $m-10 * 2 0;
      }
    }
    .shipment-modal__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footer__note {
        width: $w-100 - 30;
        margin-left: $m-10 * 2;
        line-height: $h-10 * 2;
        font-size: $body-1;
        font-style: italic;
        color: $tSecondary;
        @include respond(phone) {
          font-size: $body-2;
          width: $w-100;
          margin: $m-10 0;
        }
      }
      @include respond(phone) {
        flex-direction: column;
      }
    }
  }
  .product-carts__payment-modal {
    .payment-modal__header {
      font-size: $subtitle;
      font-weight: $semiBold;
      @include respond(phone) {
        font-size: $default;
      }
    }
    .payment-modal__body {
      .body__item {
        padding: $p-10;
        margin: $m-10 0;
        background: transparent;
        border-color: $borderGrey;
        strong {
          font-weight: $semiBold;
        }
        .item__title {
          font-weight: $semiBold;
          padding: $p-10;
          @include respond(laptop) {
            font-size: $default;
            padding: $p-10 $p-10 * 2;
          }
          @include respond(phone) {
            font-size: $body-1;
            padding: $p-10;
          }
        }
        .item__group {
          justify-content: space-around;
          &:last-child {
            border: 0;
          }
          .group__img {
            width: $w-10 * 5;
            height: $h-10 * 5;
            @include respond(phone) {
              width: $w-10 * 4;
              height: $h-10 * 4;
            }
          }
          .group__content {
            font-size: $default;
            @include respond(phone) {
              font-size: $body-2;
            }
          }
          @include respond(phone) {
            justify-content: space-between;
          }
        }
        .item__content {
          .content__title {
            padding: $p-10;
            font-weight: $semiBold;
            @include respond(laptop) {
              font-size: $default;
              padding: $p-10 $p-10 * 2;
            }
            @include respond(phone) {
              font-size: $body-1;
              padding: $p-10;
            }
          }
          .content__inner {
            .inner__list {
              padding: $p-10;
              .list__item {
                width: $w-100;
                display: flex;
                justify-content: space-between;
                strong {
                  font-weight: $semiBold;
                }
              }
              @include respond(laptop) {
                font-size: $body-1;
                padding: $p-5 0;
              }
              @include respond(phone) {
                font-size: $body-2;
                padding: $p-5 0;
              }
            }
            @include respond(laptop) {
              font-size: $body-1;
              padding: $p-10 $p-10 * 2;
            }
            @include respond(phone) {
              font-size: $body-2;
              padding: $p-10;
            }
          }
        }
        .item__list {
          padding: $p-10;
          .list__item {
            width: $w-100;
            padding: $p-5;
            list-style-type: none;
            .item__inner {
              display: flex;
              justify-content: space-between;
              strong {
                font-weight: $semiBold;
              }
            }
          }
          @include respond(laptop) {
            font-size: $default;
            padding: $p-5;
          }
          @include respond(phone) {
            font-size: $body-1;
            padding: $p-5;
          }
        }
        .item__line {
          width: $w-100;
          height: 1px;
          margin: $m-10 0;
          background: $grey;
        }
        .item__payment-type {
          width: $w-100;
          padding: $p-10;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .payment-modal__footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .button--submit {
        @include respond(phone) {
          font-size: $body-1;
        }
      }
    }
  }
  .product-carts__order-modal {
    .order-modal__header {
      font-size: $subtitle;
      font-weight: $semiBold;
    }
    .order-modal__body {
      .body__group {
        .group__title {
          margin-bottom: $m-10 * 2;
          font-size: $subtitle;
          font-weight: $semiBold;
          @include respond(phone) {
            font-size: $default;
          }
        }
        .group__wrapper {
          margin: $m-10 0;
        }
        .group__label {
          background: $secondary;
          color: $tSecondary;
        }
        .group__input {
          color: $tSecondary;
          &::placeholder {
            color: $tSecondary;
            opacity: 0.5;
          }
        }
        .group__icon {
          color: $tSecondary;
        }
        .group__select {
          background: $secondary;
          color: $tSecondary;
        }
        .group__options {
          background: $secondary;
          color: $tSecondary;
          .options__item {
            &:hover {
              background: $primary;
              color: $tPrimary;
            }
          }
        }
      }
      .body__line {
        width: $w-100;
        height: 1px;
        background-color: $primary;
        margin: $m-10 * 2 0;
      }
    }
    .order-modal__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footer__note {
        width: $w-100 - 30;
        margin-left: $m-10 * 2;
        line-height: $h-10 * 2;
        font-size: $body-1;
        font-style: italic;
        color: $tSecondary;
        @include respond(phone) {
          font-size: $body-2;
          width: $w-100;
          margin: $m-10 0;
        }
      }
      @include respond(phone) {
        flex-direction: column;
      }
    }
  }
  .table__nodata {
    .button--submit {
      margin: $m-10 0;
      padding: $p-10;
      font-size: $subtitle;
    }
  }
  @include respond(extraTablet) {
    padding: $p-10 * 2;
  }
}
