.badge {
  padding: $p-5 $p-10 * 2;
  font-size: $body-2;
  border-radius: $round;
  background: $secondary;
  color: $tSecondary;
  text-align: center;
  span {
    &:nth-child(2) {
      margin-left: $m-10;
    }                  
  }
}

.badge--success {
  background: $green-1;
}

.badge--warning {
  background: $orange;
}

.badge--info {
  background: $blue-1;
}

.badge--error {
  background: $red-2;
}
