.badge {
  padding: $p-5 $p-10 * 2;
  font-size: $body-2;
  border-radius: $round;
  background: $secondary;
  color: $tSecondary;
  text-align: center;
}

.badge--success {
  background: $green-1;
}

.badge--error {
  background: $red-2;
}
