.data-loading {
  width: $w-100;
  height: $h-100;
  background: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  .data-loading__spinner {
    width: $w-10 * 8;
    height: $h-10 * 8;
    border-radius: $circle;
    border: 8px solid $borderGrey;
    border-top-color: $borderBlue;
    animation: spinner 2s linear infinite;
  }
}

.data-loading--hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
