.form__group {
  margin: $m-10 * 2 0;
  position: relative;
  .group__field {
    width: $w-100;
    padding: $p-10;
    border: 1px solid $borderGrey;
    border-radius: $lightRound;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    .field__control {
      width: $w-100 - 10;
      font-size: $body-1;
      color: $tPrimary;
      background: transparent;
      border: 0;
      outline: none;
      &:focus + .field__label,
      &:not(:placeholder-shown) + .field__label {
        top: 0;
      }
      .control__placeholder {
        opacity: 0.5;
      }
    }
    .field__control--select {
      width: $w-100 - 3;
      .select__item {
        height: $h-10;
      }
    }
    .field__label {
      padding: $p-5;
      color: $tPrimary;
      background: $primary;
      user-select: none;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }
    .field__label--select {
      font-size: $body-1;
      padding: $p-5;
      color: $tPrimary;
      background: $primary;
      position: absolute;
      top: 0;
      left: 3%;
      transform: translateY(-50%);
      @include respond(extraTablet) {
        font-size: $body-2;
      }
    }
    .field__icon,
    .field__error-icon {
      width: $w-10 * 5;
      color: $tPrimary;
      text-align: center;
      transition: all 0.5s ease;
      .fa-eye,
      .fa-eye-slash {
        cursor: pointer;
      }
    }
    .field__error-icon {
      color: $tRed;
    }
    .field__icon--active {
      transform: rotate(-180deg);
    }
    .field__control--text-area {
      width: $w-100;
    }
  }
  .group__field--invalid {
    border-color: $borderError !important;
    animation: error 0.3s linear 1;
  }
  .group__error {
    font-size: $body-1;
    color: $tRed;
    margin: $m-10 0;
  }
  .group__radio {
    width: $w-100;
    display: flex;
    align-items: center;
    .radio__control {
      width: $w-10 * 2;
      height: $h-10 * 2;
      margin-right: $m-10 * 1.5;
    }
    .radio__label {
      font-size: $body-1;
    }
  }
  .group__calendar {
    width: $w-100;
    background: $primary;
    border-radius: $lightRound;
    box-shadow: 0 0 10px $darkGrey;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 9999;
    .calendar__date {
      padding: $p-10;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .date__next-btn,
      .date__prev-btn {
        padding: $p-5 $p-10 + 5;
        border-radius: $lightRound;
        font-size: $subtitle;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          color: $tSecondary;
          background: $secondary;
        }
      }
      .date__content {
        font-size: $subtitle;
      }
    }
  }
  .group__option {
    width: $w-100;
    max-height: 0;
    padding: $p-5 0;
    border-radius: $lightRound;
    box-shadow: 0 0 15px $grey;
    position: absolute;
    top: 110%;
    left: 0;
    background: $primary;
    z-index: 999;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    .option__item {
      width: $w-100;
      padding: $p-10;
      margin: $m-5 0;
      display: flex;
      align-items: center;
      transition: all 0.5s ease;
      cursor: pointer;
      &:hover {
        background: $secondary;
        color: $tSecondary;
      }
      img {
        width: $w-10 * 3;
        height: $h-10 * 3;
        margin-right: $m-10;
        object-fit: cover;
      }
    }
    .option__item--selected {
      background: $secondary;
      color: $tSecondary;
    }
    .option__nodata {
      padding: $p-10;
      text-align: center;
    }
  }
  .group__option--active {
    max-height: $h-10 * 20;
    opacity: 1;
    visibility: visible;
  }
}

.search__input {
  width: $w-100;
  margin: $m-10 * 2 0;
  .input__field {
    width: $w-100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $borderBlue;
    border-radius: $round;
    overflow: hidden;
    .field__control {
      width: $w-100 - 10;
      padding: 0 $p-10 * 2;
      border: 0;
      outline: none;
    }
    .field__icon {
      width: $w-10 * 5;
      height: $h-100;
      padding: $p-10 + 5 $p-10;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $secondary;
      color: $tSecondary;
      cursor: pointer;
    }
  }
}

@keyframes error {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}
