.footer {
  padding: $p-10 * 5;
  background: $blue-3;
  .footer__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $borderWhite;
    padding: $p-10 * 5 0;
    .info__item {
      .item__title {
        color: $tSecondary;
        margin-bottom: $m-10 * 2;
      }
    }
    .info__logo {
      padding: 0;
      .logo__wrapper {
        border-bottom: 0;
        .wrapper__left {
          font-size: $h1;
          color: $tBlue;
        }
        .wrapper__right {
          font-size: $subtitle;
          font-weight: $medium;
        }
      }
      @include respond(tablet) {
        margin-bottom: $m-10 * 2;
      }
    }
    .info__partners {
      .item__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .list__logo {
          width: $w-10 * 3;
          height: $h-10 * 3;
          box-shadow: 0 0 10px $primary;
          margin: 0 $m-10;
          border-radius: $circle;
          object-fit: cover;
          object-position: center;
          @include respond(phone) {
            margin: $m-10 $m-10 * 2;
          }
        }
      }
      @include respond(tablet) {
        margin-bottom: $m-10 * 2;
      }
    }
    .info__group {
      width: $w-100 - 80;
      display: flex;
      justify-content: space-between;
      .group__item {
        .item__title {
          color: $tSecondary;
          margin-bottom: $m-10 * 2;
        }
      }
      .group__policy {
        .item__list {
          .list__link {
            padding: $p-10 0;
            text-decoration: none;
            color: $tSecondary;
            font-size: $body-1;
            display: block;
            transition: all 0.5s ease;
            &:hover {
              color: $tBlue;
            }
          }
        }
        @include respond(extraTablet) {
          width: $w-100 - 55;
        }
      }
      .group__category {
        .item__list {
          .list__link {
            padding: $p-10 0;
            text-decoration: none;
            color: $tSecondary;
            font-size: $body-1;
            display: block;
            transition: all 0.5s ease;
            &:hover {
              color: $tBlue;
            }
          }
        }
        @include respond(extraTablet) {
          width: $w-100 - 55;
        }
      }
      @include respond(extraTablet) {
        width: $w-100;
      }
    }
    .info__socials {
      .item__list {
        .list__logo {
          text-decoration: none;
          color: $tSecondary;
          font-size: $h4;
          margin: 0 $m-10;
          opacity: 1;
          transition: all 0.3s ease;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    @include respond(tablet) {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .footer__address {
    color: $tSecondary;
    padding: $p-10 * 5 0;
    .address__name {
      font-size: $subtitle;
    }
    .address__info {
      list-style-type: square;
      padding-left: $p-10 * 2;
      .info__list {
        font-size: $body-1;
        margin: $m-10 0;
      }
    }
  }
  @include respond(phone) {
    padding: $p-10 * 5 $p-10 * 2;
  }
}
