.password-modal {
  .password-modal__body {
    height: auto;
    .body__card {
      padding: $p-10 * 2;
      .card__field {
        margin: $m-10 0;
      }
    }
  }
  .password-modal__footer {
    display: flex;
    justify-content: flex-end;
  }
}
