.rate {
  width: $w-100;
  display: flex;
  justify-content: center;
  align-items: center;
  .rate__star {
    padding: $p-10 * 2;
    display: flex;
    .star__item {
      margin: 0 $m-10;
      cursor: pointer;
      .item__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        .fa-star {
          font-size: $h2;
          transition: all 0.3s ease;
        }
        .icon {
          font-size: $h3;
          color: $tSecondary;
        }
      }
      input[type="radio"] {
        display: none;
      }
    }
    @include respond(phone) {
      margin: $m-10 0;
    }
  }
}
