.remove-modal {
  .remove-modal__body {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .body__icon {
      font-size: $h3;
    }
    .body__content {
      padding: $p-10 0;
    }
  }
  .remove-modal__footer {
    padding: $p-10 $p-10 * 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .footer__action {
      font-size: $default;
      &:nth-child(1) {
        margin-right: $m-10;
      }
    }
  }
}
