// CARTS ROW ITEM
.carts-row {
  .col__img {
    width: $w-100;
    display: flex;
    justify-content: center;
    img {
      width: $w-10 * 4;
      height: $h-10 * 4;
    }
  }
  .col__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      padding: 0 $p-5;
    }
    .amount__content {
      font-weight: $semiBold;
    }
    .amount__button {
      font-size: $body-1;
      padding: $p-5;
      margin: 0 $m-10;
      border-radius: $lightRound;
      transition: all 0.5s ease;
      cursor: pointer;
      &:hover {
        background: $secondary;
        color: $tSecondary;
      }
    }
    .amount__button--disabled {
      user-select: none;
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

.order-row {
  &:last-child {
    border: 0;
  }
}

.course-row {
  &:last-child {
    border: 0;
  }
}
