.toast__wrapper {
  overflow: hidden;
  .wrapper__item {
    width: $w-10 * 50;
    height: $h-10 * 5;
    margin: $m-10 0;
    background: $primary;
    border-radius: $lightRound;
    box-shadow: 0 0 10px $borderGrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    animation: slideIn ease 0.3s, fadeOut ease 1s 3s forwards;
    .item__line {
      width: 8px;
      height: 100%;
      background: $dark;
    }
    .item__icon {
      padding: 0 $p-10;
    }
    .item__title {
      flex-grow: 1;
    }
    .item__close {
      padding: 0 $p-10;
      cursor: pointer;
    }
  }
  .wrapper__item--success {
    background: $green-2;
    color: $tSecondary;
    .item__line {
      background: $green-1;
    }
    .item__icon {
      color: $green-1;
    }
  }
  .wrapper__item--error {
    background: $red-1;
    color: $tSecondary;
    .item__line {
      background: $red-2;
    }
    .item__icon {
      color: $red-2;
    }
  }
  .wrapper__item--warning {
    background: $green-2;
    color: $tSecondary;
    .item__line {
      background: $green-1;
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
