.upload {
  width: $w-100;
  .upload__single {
    width: $w-100;
    height: $h-10 * 20;
    margin-bottom: $m-10;
    border: 1px solid $borderGrey;
    border-radius: $lightRound;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    &:hover .single__control {
      opacity: 1;
      visibility: visible;
    }
    &:hover .single__control .control__label {
      transform: translateX(0);
    }
    .single__loading {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $RGBA-white-1;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;
      .loading__spinner {
        width: $w-10 * 5;
        height: $h-10 * 5;
        border-radius: $circle;
        border: 4px solid $borderDark;
        border-top-color: $borderBlue;
        animation: spinner 1s linear infinite;
      }
    }
    .single__preview {
      width: $w-100;
      height: $h-100;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .preview__img {
        width: $w-100;
        height: $h-100;
        .img__avatar {
          width: $w-100;
          height: $h-100;
          object-fit: cover;
          object-position: center;
        }
      }
      .preview__close {
        width: $w-10 * 2;
        height: $h-10 * 2;
        padding: $p-5;
        border-radius: $circle;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 5%;
        right: 5%;
        background: $primary;
        cursor: pointer;
        z-index: 99;
        .fa {
          color: $tPrimary;
        }
      }
    }
    .single__control {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $RGBA-dark-1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease;
      z-index: 9;
      .control__label {
        width: $w-100;
        height: $h-100;
        cursor: pointer;
        font-size: $h5;
        color: $tSecondary;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: all 0.8s ease;
      }
      .control__input {
        display: none;
      }
    }
  }
  .upload__multiple {
    width: $w-100;
    margin-bottom: $m-10;
    border: 1px solid $borderGrey;
    border-radius: $lightRound;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .multiple__control {
      width: $w-100 - 50;
      padding: $p-10 * 2 $p-10 * 5;
      display: flex;
      justify-content: center;
      align-items: center;
      .control__label {
        padding: $p-10 + 5;
        text-align: center;
        color: $tSecondary;
        background: $secondary;
        border-radius: $lightRound;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          box-shadow: 0 0 10px $secondary;
        }
        span {
          margin-left: $m-10 * 2;
        }
      }
      .control__input {
        display: none;
      }
      .control__button {
        padding: $p-10 + 5;
        margin: 0 $m-10;
      }
    }
    .multiple__text {
      padding: $p-10 0;
    }
    .multiple__preview {
      width: $w-100;
      padding: $p-10;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      position: relative;
      background-color: $lightGrey;
      .preview__loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $lightGrey;
        z-index: 99;
        .loading__spinner {
          width: $w-10 * 3;
          height: $h-10 * 3;
          border: 4px solid $borderGrey;
          border-top-color: $borderBlue;
          border-radius: $circle;
          animation: spinner 1s linear infinite;
        }
      }
      .preview__img {
        width: $w-10 * 15;
        height: $h-10 * 15;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $lightRound;
        overflow: hidden;
        position: relative;
        .img {
          object-fit: cover;
          object-position: center;
        }
        .img__button {
          width: $w-10 * 2;
          height: $h-10 * 2;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 2%;
          right: 2%;
          background: $primary;
          padding: $p-5;
          border-radius: $circle;
          cursor: pointer;
        }
      }
    }
  }
  .upload__text {
    width: $w-100;
    margin-bottom: $m-10;
    text-align: center;
    font-style: italic;
    font-size: $body-2;
  }
  .upload__button {
    width: $w-100;
    display: flex;
    justify-content: center;
    .button--submit {
      font-size: $body-2;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
