.edit-order {
  .edit-order__wrapper {
    width: $w-100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .wrapper__item {
      &:nth-child(1) {
        width: $w-100 - 32;
        @include respond(phone) {
          width: $w-100;
        }
      }
      &:nth-child(2) {
        width: $w-100 - 70;
        @include respond(phone) {
          width: $w-100;
        }
      }
      .item__inner {
        padding: $p-10 * 2;
        margin-bottom: $m-10;
        overflow: unset;
        .inner__title {
          font-weight: $semiBold;
          margin-bottom: $m-10 * 2;
        }
        .inner__control {
          margin: $m-5 0;
        }
        @include respond(phone) {
          padding: $p-10;
        }
      }
      .item__product {
        .inner__action {
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            margin: $m-10 $m-10 * 2;
          }
          @include respond(phone) {
            flex-direction: column;
          }
        }
        .inner__list {
          .list__item {
            margin: $m-10 0;
            padding: $p-10 $p-10 * 2;
            font-size: $body-1;
            border-style: dashed;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .item__content {
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              &:nth-child(1) {
                font-weight: $semiBold;
              }
              &:nth-child(1),
              &:nth-child(2) {
                width: $w-100 - 70;
              }
              &:nth-child(3) {
                width: $w-100 - 85;
              }
              &:nth-child(4) {
                width: $w-10 * 2;
                height: $h-10 * 2;
                padding: $p-10;
                background: $red-1;
                color: $tSecondary;
                border-radius: $circle;
                cursor: pointer;
              }
              .content__input {
                margin: $m-5 0;
              }
              @include respond(phone) {
                font-size: $body-2;
              }
            }
            @include respond(phone) {
              padding: $p-10;
            }
          }
        }
      }
      .item__info {
        .inner__detail {
          .detail__list {
            .list__inner {
              padding: $p-10 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              p {
                &:nth-child(2) {
                  font-weight: $semiBold;
                }
              }
            }
          }
        }
      }
      .item__delivery {
        .inner__detail {
          padding: $p-10;
          border-style: dashed;
          position: relative;
          .detail__close {
            width: $w-10 * 1.5;
            height: $h-10 * 1.5;
            padding: $p-10;
            font-size: $body-1;
            background: $secondary;
            color: $tSecondary;
            border-radius: $circle;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
          }
          .detail__title {
            font-size: $body-1;
            font-weight: $semiBold;
            margin-bottom: $m-10;
          }
          .detail__list {
            font-size: $body-2;
            margin-bottom: $m-10;
            .list__inner {
              padding: $p-5 0;
              display: flex;
              justify-content: space-between;
              p {
                &:nth-child(2) {
                  font-weight: $semiBold;
                }
              }
            }
          }
        }
      }
    }
  }
}
