.responsive__book-info {
  width: $w-100;
  height: $h-100-vh;
  padding: $p-10 * 2 $p-10;
  border-left: 1px solid $borderGrey;
  background: $primary;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  overflow: auto;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  .book-info__close {
    width: $w-100;
    padding: $p-10;
    border-bottom: 1px solid $borderGrey;
    display: flex;
    .close__btn {
      padding: $p-5 $p-10;
      border: 1px solid $borderGrey;
      border-radius: $lightRound;
    }
  }
  .book-info__price {
    width: $w-100;
    padding: $p-10 * 2 0;
    margin-bottom: $m-10 * 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $h6;
    font-weight: $semiBold;
    color: $tBlue;
    border-bottom: 1px solid $borderGrey;
  }
  .book-info__content {
    padding: $p-10 0;
    border: 1px solid $borderGrey;
    border-radius: $lightRound;
    .content__item {
      padding: $p-5;
      display: flex;
      justify-content: space-between;
      p {
        &:nth-child(1) {
          width: $w-100 - 70;
        }
        &:nth-child(2) {
          width: $w-100 - 30;
          font-weight: $semiBold;
        }
      }
    }
    @include respond(tablet) {
      font-size: $body-1;
      padding: $p-10;
    }
    @include respond(phone) {
      font-size: $body-2;
    }
  }
  .book-info__seat {
    margin-bottom: $m-10 * 2;
    padding: $p-10 * 2 0;
    border-bottom: 1px solid $borderGrey;
    p {
      font-weight: $semiBold;
      span {
        font-weight: $semiBold;
        color: $tBlue;
      }
    }
  }
  .book-info__contact {
    margin-bottom: $m-10 * 2;
    padding: $p-10;
    border-radius: $lightRound;
    border: 1px solid $borderGrey;
    .contact__title {
      font-size: $body-1;
      font-weight: $semiBold;
    }
  }
  .book-info__payment {
    .payment__title {
      margin-bottom: $m-10;
      font-size: $body-1;
      font-weight: $semiBold;
    }
    .payment__instruct {
      padding: $p-10 0;
      color: $tRed;
      text-align: center;
      font-size: $body-1;
    }
    .payment__type {
      padding: $p-10;
      border: 1px solid $borderGrey;
      border-radius: $lightRound;
      .type__group {
        padding: $p-10;
        display: flex;
        align-items: center;
        .group__radio {
          width: $w-10 * 2;
          height: $h-10 * 2;
          margin-right: $m-10;
        }
        .group__label {
          display: flex;
          align-items: center;
          .label__icon {
            width: $w-10 * 4;
            height: $h-10 * 4;
            margin-right: $m-10;
            object-fit: cover;
            object-position: center;
          }
          .label__content {
            font-size: $body-1;
          }
        }
      }
    }
    .payment__note {
      padding: $p-10 0;
      text-align: center;
      font-size: $body-1;
      font-weight: $semiBold;
    }
  }
  .book-info__action {
    padding: $p-10 0;
    display: flex;
    justify-content: flex-end;
  }
  @include respond(tablet) {
    display: block;
    padding: $p-10 * 2;
  }
  @include respond(phone) {
    display: block;
  }
}

.responsive__book-info--active {
  transform: translateX(0);
}
