.course-category__responsive {
  padding: $p-10 * 5 $p-10 * 2;
  background: $lightBlue;
  position: relative;
  display: none;
  .responsive__title {
    font-size: $h4;
    font-weight: $semiBold;
    text-align: center;
    margin-bottom: $m-10 * 2;
  }
  .responsive__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    .list__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: $m-10 0;
      .item__inner {
        width: $w-10 * 10;
        height: $h-10 * 10;
        padding: $p-10;
        margin-bottom: $m-10;
        border-radius: $lightRound;
        display: flex;
        align-items: center;
        justify-content: center;
        .inner__icon {
          font-size: $h4;
          color: $tSecondary;
        }
      }
      .item__title {
        font-size: $subtitle;
        font-weight: $semiBold;
      }
      @include respond(phone) {
        width: $w-100 / 2;
      }
    }
  }
  .responsive__wave {
    width: $w-100;
    height: $h-10 * 14.3;
    background: url("../../assets/img/wave.png");
    position: absolute;
    bottom: 0;
    left: 0;
    animation: slide 10s linear infinite;
    &::before {
      content: "";
      width: $w-100;
      height: $h-10 * 14.3;
      background: url("../../assets/img/wave.png");
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.4;
      animation: slide-reverse 10s linear infinite;
    }
    &::after {
      content: "";
      width: $w-100;
      height: $h-10 * 14.3;
      background: url("../../assets/img/wave.png");
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.6;
      animation-delay: -5;
      animation: slide 20s linear infinite;
    }
  }
  @include respond(extraTablet) {
    display: block;
  }
}

@keyframes slide {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@keyframes slide-reverse {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}