.user-sidebar__responsive {
  width: $w-100;
  background: $primary;
  border-bottom: 1px solid $borderGrey;
  display: none;
  position: sticky;
  top: 70px;
  z-index: 99;
  .responsive__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wrapper__list {
      width: $w-100;
      padding: $p-10;
      display: flex;
      .list__link {
        text-decoration: none;
        display: block;
        padding: 0 $p-10;
        color: $tPrimary;
        i {
          font-size: $subtitle;
        }
      }
    }
    .wrapper__admin {
      padding: $p-10;
      text-decoration: none;
      color: $tPrimary;
    }
    @include respond(extraTablet) {
      padding: $p-10 * 2 $p-10;
    }
    @include respond(phone) {
      padding: $p-10;
    }
  }
  @include respond(extraTablet) {
    display: block;
  }
}
