.dashboard {
    .dashboard__box {
        display: flex;
        margin-bottom: $m-10;
        border-bottom: 1px solid $borderGrey;
    }
    .dashboard__chart {
        padding: $p-10 * 2 0;
        display: flex;
        // .chart__wrapper {
        //     &:nth-child(1) {
        //         width: $w-100 - 30;
        //     }
        //     &:nth-child(2) {
        //         width: $w-100 - 70;
        //     }
        // }
    }
}