.home__achievement {
  padding: $p-10 * 10 $p-10 * 5;
  background: url("../../../assets/img/blue-background.jpg");
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  .achievement__card {
    width: $w-100 - 70;
    height: $h-10 * 30;
    padding: $p-10 * 2;
    background: $blue-1;
    box-shadow: 0 10px 20px $blue-2;
    border-radius: $lightRound;
    position: relative;
    &:hover .card__bg {
      transform: translateY(-40%);
    }
    &:hover .card__content {
      opacity: 1;
    }
    .card__bg {
      width: $w-100;
      height: $h-100;
      padding: $p-10;
      border-radius: $lightRound;
      background: $blue-2;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $h3;
      transform: translateY(0);
      transition: all 0.5s ease;
    }
    .card__content {
      width: $w-100;
      font-size: $subtitle;
      height: $h-100 - 50;
      padding: $p-10 * 5;
      color: $tSecondary;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }
    @include respond(extraTablet) {
      width: $w-100 - 60;
    }
    @include respond(tablet) {
      display: none;
    }
  }
  .achievement__content {
    width: $w-100 - 70;
    .content__wrapper {
      font-weight: $medium;
      text-align: center;
      color: $tSecondary;
      margin: $m-10 * 3 0;
      .wrapper__icon {
        font-size: $h3;
        margin-bottom: $m-10;
      }
      .wrapper__number {
        font-size: $h2;
        color: $tPrimary;
        margin-bottom: $m-10;
      }
      .wrapper__title {
        font-size: $h4;
      }
      @include respond(tablet) {
        margin: $m-10 * 2 0;
      }
    }
    @include respond(tablet) {
      width: $w-100;
      display: flex;
      justify-content: space-between;
    }
    @include respond(phone) {
      width: $w-100;
      flex-direction: column;
    }
  }
  @include respond(extraTablet) {
    justify-content: space-between;
  }
}
