.home__carousel {
  display: flex;
  height: $h-100-vh;
  .carousel__form {
    width: $w-100 - 70;
    padding: $p-10 * 3;
    background: $secondary;
    .form__title {
      font-size: $h3;
      font-weight: $medium;
      text-align: center;
      color: $tSecondary;
      margin: $m-10 * 2 0;
    }
    .form__line {
      width: $w-100 - 50;
      height: 2px;
      background: $primary;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    .form__wrapper {
      padding-top: $p-10 * 2;
      .wrapper__field {
        border-color: $borderWhite;
      }
      .wrapper__input {
        color: $tSecondary;
      }
      .wrapper__label {
        background: $secondary;
        color: $tSecondary;
      }
      .wrapper__icon {
        color: $tSecondary;
      }
      .wrapper__button {
        width: $w-100;
        display: flex;
        justify-content: center;
        .button--round {
          font-size: $body-1;
          padding: $p-10 $p-10 * 2;
          color: $tPrimary !important;
          &:hover {
            color: $tSecondary !important;
          }
        }
        .button--disabled {
          font-size: $body-1;
          padding: $p-10 $p-10 * 2;
          color: $tPrimary !important;
        }
      }
    }
    @include respond(tablet) {
      width: $w-100;
    }
  }
  .carousel__slider {
    width: $w-100;
    height: $h-100;
    .slider {
      width: $w-100;
      .slider__item {
        width: $w-100;
        height: $h-100-vh;
        background: $secondary;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        .item__wrapper {
          width: $w-100;
          height: $h-100;
          padding: $p-10 * 5;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          position: relative;
          .wrapper__content {
            width: $w-100 - 50;
            text-align: justify;
            .content__text {
              font-size: $subtitle;
              color: $tSecondary;
              z-index: 1;
              &:nth-child(1) {
                font-size: $h1;
                font-weight: $medium;
                @include respond(extraTablet) {
                  font-size: $h2;
                }
                @include respond(tablet) {
                  font-size: $h6;
                }
              }
              &:nth-child(2) {
                padding: $p-10 * 2 0;
                @include respond(tablet) {
                  font-size: $default;
                }
              }
            }
            .content__action {
              display: flex;
              align-items: center;
              .button--fill-white {
                width: $w-10 * 20;
                font-size: $body-1;
                &:nth-child(1) {
                  margin-right: $m-10;
                }
              }
            }
            @include respond(phone) {
              width: $w-100;
            }
          }
          .wrapper__image {
            width: $w-100 - 70;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .image__blob {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              @include respond(laptop) {
                width: $w-10 * 40 !important;
                height: $h-10 * 40 !important;
              }
              @include respond(extraTablet) {
                width: $w-10 * 30 !important;
                height: $h-10 * 30 !important;
              }
              @include respond(tablet) {
                width: $w-10 * 25 !important;
                height: $h-10 * 25 !important;
              }
            }
            .image {
              width: $w-100 - 20;
              object-fit: cover;
              position: relative;
              z-index: 1;
              @include respond(extraTablet) {
                width: $w-10 * 15;
              }
            }
            @include respond(phone) {
              width: $w-100;
              margin-bottom: $m-10 * 10;
            }
          }
          @include respond(laptop) {
            padding: $p-10 * 5 $p-10 * 2;
          }
          @include respond(phone) {
            padding: $p-10 * 5 $p-10;
            flex-direction: column-reverse;
          }
        }
        @include respond(tablet) {
          padding-top: $p-10 * 10;
          height: $h-10 * 40;
        }
        @include respond(phone) {
          padding-top: $p-10 * 10;
          height: $h-10 * 70;
        }
      }
    }
  }

  .slick-arrow {
    color: $tPrimary !important;
    z-index: 99;
    &::before {
      font-size: $h3;
    }
  }
  .slick-prev {
    left: 5%;
    color: $tPrimary;
    &::before {
      content: "";
    }
  }
  .slick-next {
    right: 5%;
    color: $tPrimary;
    &::before {
      content: "";
    }
  }
  .slick-dots {
    bottom: 10%;
    li {
      width: $w-10 * 1.5;
      height: $h-10 * 1.5;
      background: $primary;
      border-radius: $circle;
      opacity: 0.5;
      button {
        &::before {
          display: none;
        }
      }
    }
    .slick-active {
      opacity: 1;
    }
  }

  @include respond(tablet) {
    height: auto;
  }
}
