.course-detail {
  .course-detail__intro {
    width: $w-100;
    padding: $p-10 * 5;
    display: flex;
    justify-content: space-between;
    background: url("../../../assets/img/blue-background.jpg");
    overflow: hidden;
    .intro__content {
      width: $w-100 - 35;
      color: $tSecondary;
      .content__title {
        font-size: $h4;
        font-weight: $semiBold;
      }
      .content__line {
        width: $w-100 - 30;
        height: 2px;
        background: $primary;
        margin: $m-10 * 2 0;
      }
      .content__text {
        line-height: $h-10 * 2;
        margin: $m-10 0;
      }
      @include respond(tablet) {
        width: $w-100;
      }
    }
    .intro__img {
      width: $w-100 - 70;
      position: relative;
      .img__blob {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include respond(laptop) {
          width: $w-10 * 30 !important;
          height: $h-10 * 30 !important;
        }
      }
      .img {
        width: $w-10 * 30;
        height: $h-10 * 30;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: $round;
        box-shadow: 0 0 20px $blue-1;
        @include respond(laptop) {
          width: $w-10 * 20;
          height: $h-10 * 20;
        }
      }
      @include respond(tablet) {
        width: $w-100;
        padding: $p-10 * 10 0 $p-10 * 20 0;
      }
    }
    @include respond(laptop) {
      padding: $p-10 * 5 $p-10 * 2;
    }
    @include respond(tablet) {
      padding: $p-10 * 5 $p-10 * 2;
      flex-direction: column-reverse;
    }
  }
  .course-detail__question {
    padding: $p-10 * 5 $p-10 * 10;
    display: flex;
    justify-content: space-between;
    .question__item {
      width: $w-100 / 2.1;
      .item__title {
        width: $w-100;
        margin-bottom: $m-10 * 2;
        font-size: $h6;
        font-weight: $semiBold;
        color: $tBlue;
        display: flex;
        align-items: center;
        i {
          margin-right: $m-10 * 2;
        }
        @include respond(laptop) {
          font-size: $subtitle;
        }
      }
      .item__list {
        width: $w-100;
        li {
          display: flex;
          margin: $m-10 0;
          i {
            margin-right: $m-10 * 2;
            color: $tBlue;
          }
        }
      }
      @include respond(phone) {
        width: $w-100;
        margin-bottom: $m-10;
      }
    }
    @include respond(laptop) {
      padding: $p-10 * 5 $p-10 * 2;
    }
    @include respond(phone) {
      padding: $p-10 * 5 $p-10 * 2;
      flex-direction: column;
    }
  }
  .course-detail__lesson {
    background: $lightBlue;
    overflow: hidden;
    position: relative;
    .lesson__inner {
      padding: $p-10 * 5 $p-10 * 10;
      .inner__title {
        margin-bottom: $m-10 * 2;
        text-align: center;
        font-size: $h4;
        font-weight: $semiBold;
      }
      .inner__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        .list__card {
          width: $w-100;
          border-radius: $lightRound;
          overflow: hidden;
          position: relative;
          z-index: 1;
          &:hover::after {
            height: $h-100;
          }
          &:hover .card__image .img {
            transform: scale(1.05);
          }
          &:hover .content__title {
            color: $tSecondary;
          }
          &::after {
            content: "";
            position: absolute;
            width: $w-100;
            height: 0;
            background: $secondary;
            transition: all 0.5s ease;
            z-index: -1;
          }
          .card__image {
            padding: $p-10;
            border-radius: $lightRound;
            overflow: hidden;
            .img {
              transform: scale(1);
              transition: all 0.5s ease;
            }
          }
          .card__content {
            padding: $p-10;
            .content__title {
              padding: $p-10 0;
              font-weight: $semiBold;
              transition: all 0.5s ease;
            }
          }
        }
        @include respond(tablet) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        @include respond(phone) {
          grid-template-columns: 1fr 1fr;
        }
        @include respond(extraSmallPhone) {
          grid-template-columns: auto;
        }
      }
      @include respond(laptop) {
        padding: $p-10 * 5 $p-10 * 2;
      }
    }
    .lesson__wave {
      width: $w-100;
      height: $h-10 * 14.3;
      background: url("../../../assets/img/wave.png");
      position: absolute;
      bottom: 0;
      left: 0;
      animation: slide 10s linear infinite;
      &::before {
        content: "";
        width: $w-100;
        height: $h-10 * 14.3;
        background: url("../../../assets/img/wave.png");
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
        animation: slide-reverse 10s linear infinite;
      }
      &::after {
        content: "";
        width: $w-100;
        height: $h-10 * 14.3;
        background: url("../../../assets/img/wave.png");
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
        animation-delay: -5;
        animation: slide 20s linear infinite;
      }
    }
  }
  .course-detail__register {
    padding: $p-10 * 5 $p-10 * 10;
    background: $secondary;
    .register__title {
      font-size: $h4;
      font-weight: $semiBold;
      color: $tSecondary;
    }
    .register__line {
      width: $w-100 - 30;
      height: 2px;
      margin: $m-10 * 2 0;
      background: $primary;
    }
    .register__content {
      width: $w-100;
      display: flex;
      justify-content: space-between;
      .content__schedule {
        width: $w-100 / 2.1;
        .schedule__title {
          margin-bottom: $m-10 * 2;
          font-size: $h6;
          font-weight: $semiBold;
          color: $tSecondary;
        }
        .schedule__table {
          .table__title {
            margin: $m-10 0;
            font-weight: $semiBold;
            color: $tSecondary;
          }
          .table__wrapper {
            padding: $p-10;
            &:nth-child(2) {
              margin-bottom: $m-10 * 3;
            }
          }
        }
        .schedule__fee {
          font-size: $subtitle;
          color: $tSecondary;
          margin: $m-10 * 2 0;
          span {
            font-weight: $semiBold;
          }
        }
        @include respond(tablet) {
          width: $w-100;
          margin-bottom: $m-10 * 2;
        }
      }
      .content__form {
        width: $w-100 / 2.1;
        .form__wrapper {
          padding: $p-10 * 2;
          .wrapper__title {
            font-size: $h6;
            font-weight: $semiBold;
            text-align: center;
          }
          .wrapper__subtitle {
            font-weight: $semiBold;
            margin: $m-10 0;
          }
          .wrapper__button {
            display: flex;
            justify-content: center;
            .button--round,
            .button--disabled {
              padding: $p-10;
              font-size: $default;
            }
          }
        }
        @include respond(tablet) {
          width: $w-100;
        }
      }
      @include respond(tablet) {
        flex-direction: column;
      }
    }
    @include respond(laptop) {
      padding: $p-10 * 5 $p-10 * 2;
    }
  }
  .course-detail__modal {
    .modal__content {
      .content__card {
        margin: $m-10 0;
        padding: $p-10 * 2;
        color: $tPrimary;
        .card__title {
          font-weight: $semiBold;
          margin-bottom: $m-10;
          padding: $p-10 0;
          border-bottom: 1px solid $borderGrey;
        }
        .card__list {
          .list__content {
            padding: $p-10 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              &:nth-child(2) {
                font-weight: $semiBold;
              }
            }
          }
        }
      }
    }
    .modal__button {
      display: flex;
      align-items: center;
      p {
        width: $w-100 - 30;
        @include respond(phone) {
          width: $w-100;
          margin-bottom: $m-10;
          text-align: center;
        }
      }
      @include respond(phone) {
        flex-direction: column;
      }
    }
  }
}

@keyframes slide {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@keyframes slide-reverse {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}
