// BACKGROUND COLOR
$primary: #fff;
$secondary: #4272d8;
$lightGrey: #efebeb;
$grey: #c6c6c6;
$darkGrey: #555;
$dark: #222;
$lightBlue: #bbd1ff;
$red-1: #f08383;
$red-2: #f22121;
$blue-1: #6093ff;
$blue-2: #2955b6;
$green-1: #0faf37;
$green-2: #92eea9;

$RGBA-dark-1: rgba(0, 0, 0, 0.8);
$RGBA-white-1: rgba(225, 225, 225, 0.5);
$RGBA-white-2: rgba(225, 225, 225, 0.3);
$RGBA-green-1: rgba(30, 245, 84, 0.5);
$RGBA-red-1: rgba(235, 100, 100, 0.5);
$RGBA-blue-1: rgba(66, 114, 216, 0.5);

// TEXT COLOR
$tPrimary: #222;
$tSecondary: #fff;
$tRed: #e24f4f;
$tBlue: #4272d8;
$tLightBlue: #bbd1ff;
$tYellow: #d6d30f;
$tGrey: #aeadad;

// BORDER COLOR
$borderDark: #222;
$borderWhite: #fff;
$borderGrey: #c6c6c6;
$borderBlue: #4272d8;
$borderError: #e24f4f;
$borderSuccess: #24c04b;

// BORDER RADIUS
$lightRound: 5px;
$semiRound: 25px;
$round: 50px;
$circle: 50%;

// BOX SHADOW COLOR
$shadowDark: rgba(48, 46, 46, 0.5);

// FONT SIZE
$h1: 60px;
$h2: 40px;
$h3: 35px;
$h4: 30px;
$h5: 25px;
$h6: 20px;
$subtitle: 18px;
$default: 16px;
$body-1: 14px;
$body-2: 12px;

// FONT WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

// MARGIN
$m-5: 5px;
$m-10: 10px;

// PADDING
$p-5: 5px;
$p-10: 10px;

// WIDTH
$w-10: 10px;
$w-100: 100%;
$w-100-vh: 100vh;

// HEIGHT
$h-10: 10px;
$h-100: 100%;
$h-100-vh: 100vh;
